<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>badge component</h1>




    <h1>Example heading <span class="badge badge-secondary">New</span></h1>
    <h2>Example heading <span class="badge badge-secondary">New</span></h2>
    <h3>Example heading <span class="badge badge-secondary">New</span></h3>
    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
    <h5>Example heading <span class="badge badge-secondary">New</span></h5>
    <h6>Example heading <span class="badge badge-secondary">New</span></h6>


<h1>Notifications</h1>


    <button type="button" class="btn btn-primary">
      Notifications <span class="badge badge-light">4</span>
    </button>



<h1>Profile</h1>
    <button type="button" class="btn btn-primary">
      Profile <span class="badge badge-light">9</span>
      <span class="sr-only">unread messages</span>
    </button>


<h1>Contextual variations</h1>


    <span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span>


<h1>Pill badges</h1>


<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>


<h1>Links</h1>


<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fscoutwiki.scouts.org.za%2Fwiki%2FLink_Badge&psig=AOvVaw2mlxD4mAbd3x2eL-k3zatZ&ust=1691490745919000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiAj9eZrMqAAxXU7jgGHVMgCdoQr4kDegUIARDRAQ" class="badge badge-primary">Primary</a>
<a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.scoutcollecting.co.uk%2Fproducts%2Flink_badge_1971_to_19902823.jpg&tbnid=BG_KrAMCvH9wvM&vet=12ahUKEwiAj9eZrMqAAxXU7jgGHVMgCdoQMygCegUIARDUAQ..i&imgrefurl=https%3A%2F%2Fwww.scoutcollecting.co.uk%2Fitem-link_badge_1971_to_1990.html&docid=8jYqGH3-XX_5rM&w=280&h=297&q=badge%20link&ved=2ahUKEwiAj9eZrMqAAxXU7jgGHVMgCdoQMygCegUIARDUAQ" class="badge badge-secondary">Secondary</a>
<a href="https://www.google.com/imgres?imgurl=http%3A%2F%2F5.imimg.com%2Fdata5%2FSELLER%2FDefault%2F2022%2F10%2FXI%2FCZ%2FRJ%2F3743434%2Fmetal-cuff-links.jpg&tbnid=bBQOpr9UGwDH5M&vet=12ahUKEwiAj9eZrMqAAxXU7jgGHVMgCdoQMygRegUIARDzAQ..i&imgrefurl=https%3A%2F%2Fm.indiamart.com%2Fproddetail%2Fdome-pin-badges-8455586873.html&docid=tlXLV94xY5DBoM&w=2000&h=1744&q=badge%20link&ved=2ahUKEwiAj9eZrMqAAxXU7jgGHVMgCdoQMygRegUIARDzAQ" class="badge badge-success">Success</a>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fbadge-clipart&psig=AOvVaw1vjTkDhQV5uArRuqiUk9ad&ust=1691490862843000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiNzLfRrMqAAxXommMGHcxsBzUQr4kDegUIARD6AQ" class="badge badge-danger">Danger</a>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fluxury-badge&psig=AOvVaw1vjTkDhQV5uArRuqiUk9ad&ust=1691490862843000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiNzLfRrMqAAxXommMGHcxsBzUQr4kDegUIARD_AQ" class="badge badge-warning">Warning</a>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fgold-badge&psig=AOvVaw1vjTkDhQV5uArRuqiUk9ad&ust=1691490862843000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiNzLfRrMqAAxXommMGHcxsBzUQr4kDegUIARCcAg" class="badge badge-info">Info</a>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.smithwarren.com%2Fhome&psig=AOvVaw1vjTkDhQV5uArRuqiUk9ad&ust=1691490862843000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiNzLfRrMqAAxXommMGHcxsBzUQr4kDegUIARCYAg" class="badge badge-light">Light</a>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnccstore.in%2Fhomepage%2Fshop%2Fcombined-annual-training-camp-badge%2F&psig=AOvVaw1vjTkDhQV5uArRuqiUk9ad&ust=1691490862843000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiNzLfRrMqAAxXommMGHcxsBzUQr4kDegUIARDeAg" class="badge badge-dark">Dark</a>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>